/*----- Tabs -----*/
#search-wrapper {
    text-align:center;
    position:relative;
    max-width:100%;
    margin:auto;
    width:875px;
    font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.02rem;
}

.tabs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0px auto 0;
    padding: 0px auto;
    text-align: center;
    height: 92px;
    top: 0;
    vertical-align: middle;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links h2 {
        margin:0px 5px;
        list-style:none;
        display:inline-block;
        text-decoration:none;
        color:000000;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:16px;
            font-weight:600;
            transition:all linear 0.15s;
            text-decoration:none;
			color: rgb(0, 0, 0);
    }
	
		.tab-links a.selected h2 {
		   color: #990000;
		}
        .tab-links h2 {
        font-size:2.4em;
    }

        .tab-label {
        font-size: 16px;
        text-decoration: none;
        margin: 10px 0;
        font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #000000;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        text-align:center;
}
 
        .tab {
            display:none;
}
 
        .tab.active {
            display:block;
}
        
    /*----- Search Boxes -----*/
	.searchTerm {
    position: relative;
}
	
	#search h3 {
    font-size: 1.5em;
    width: 95%;
    margin:auto;
    text-align:left;
}

    input.searchbox {
    display: inline;
    -webkit-appearance: none;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 95%;
    padding-left: .6rem;
    padding-right: 8px;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 10px auto;
    border: 0;
    outline: 2px solid #990000;
}
    
    input.headersubmit {
    display: inline;
    -webkit-appearance: none;
    vertical-align: middle;
    height: 40px;
    width: 44px;
    margin-left: -47px;
    border: 0;
    background-color: #990000;
    color: #ffffff;
    font-size: 2.2rem;
    font-family: 'FontAwesome', sans-serif;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
    a#advanced-search {
    float:right;
    line-height: 0;
    margin-top: 20px; 
    margin-right: 20px;
    font-size: .8em;
	text-decoration: none;
	color: #990000;
}

