/*----- Tabs -----*/
#search-wrapper {
    text-align:center;
    position:relative;
    max-width:100%;
    #margin:auto;
    #max-width:600px;
    letter-spacing: 0.02rem;
    font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tabs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0px auto 0;
    padding: 0px auto;
    text-align: center;
    height: 92px;
    top: 0;
    vertical-align: middle;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links h4 {
        margin:0px 5px;
        list-style:none;
        display:inline-block;
        text-decoration:none;
        color:000000;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:16px;
            font-weight:600;
            transition:all linear 0.15s;
            text-decoration:none;
			color: rgb(0, 0, 0);
    }
	
		.tab-links a.selected h4 {
		   color: rgb(0,160,223);
		}

        .tab-label {
        #font-size: 16px;
        text-decoration: none;
        margin: 10px 0;
        color: #000000;
	font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:10px;
        border-radius:3px;
        #text-align:center;
}
 
        .tab {
            display:none;
}
 
        .tab.active {
            display:block;
}
        
    /*----- Search Boxes -----*/
	.searchTerm {
    position: relative;
}
	#search {
	width: 100%
	text-align:left;
	}
	
	#search h4 {
    #font-size: 1.5em;
    #width: 95%;
    margin:auto;
    text-align:left;
}

    input.searchbox {
    display: inline;
    -webkit-appearance: none;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 63%;
    padding-left: .6rem;
    padding-right: 8px;
    font-size: 1.2rem;
    margin: 10px auto;
    border: 2px solid rgb(0,105,170);
    float:left;
}
    
    input.headersubmit {
    display: inline;
    -webkit-appearance: none;
    vertical-align: middle;
    height: 40px;
    width: 7%;
    margin: 9px auto;
    border: 0;
    background-color: rgb(0,105,170);
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'FontAwesome', sans-serif;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    float:left;
}

    select.custom-dropdown-menu {
        display: inline;
        -webkit-appearance: none;
        vertical-align: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 30%;
        float:left;
        background: transparent;
        padding: 5px;
        font-size: 14px;
        border: 2px solid rgb(0,105,170);
        border-radius: 0;
        height: 40px;
		margin: 9px auto;
		cursor: pointer;
        font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

    a#advanced-search {
    float:right;
    line-height: 0;
    margin: 20px 5px 0 0; 
    font-size: .8em;
	text-decoration: none;
	color: rgb(0,105,170);
}

